*{
    margin: 0;
    padding: 0;
    
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}