.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: 100%;
}

.techItem {
    text-align: center;
    width: 50px;
}

.techName {
    margin-top: 10px;
    font-size: 14px;
}
